extends layout

block content
    div(id="centered-container" ng-style="{height: contHeight}" ng-controller="AppCtrl")
        div(class="big-rounded-box bck-grey-light")
            div(id="velocity-gauge" class="f-left vel-gauge")
                p(class="sub-gauge") Speed (Knots)
            div(id="altitude-gauge" class="f-left alt-gauge")
                p(class="sub-gauge") Altitude (Feets)
            div(id="statistics-container")
                div(class="stats")
                    p Min: {{min_velocity}}
                    p Max: {{max_velocity}}
                    p Avg: {{avg_velocity}}
                div(class="stats")
                    p Min: {{min_altitude}}
                    p Max: {{max_altitude}}
                    p Avg: {{avg_altitude}}
        div(class="little-rounded-box bck-grey-light") Landing Gear
            div(class="button-rail")
                img(ng-hide="landing_gear" class="f-left" src="img/landing-gear-off.png")
                img(ng-show="landing_gear" class="f-left" src="img/landing-gear-on.png")
        div(class="medium-rounded-box bck-grey-light") Flaps
            div(class="button-rail")
                img(class="f-left flaps-switch" src="img/flaps-switch.png")
            ul(class="numbers-list")
                li(data-ng-repeat="i in [0,1,2,3,4,5]") {{$index}}
        div(class="little-rounded-box bck-grey-light") 
            p(class="connection-state") Server Conection State
            div(ng-switch on="wsTelemetry.status")
                div(ng-switch-when="1")
                    img(class="f-left" src="img/connection-online.png") 
                    p Connected
                div(ng-switch-when="3")
                    img(class="f-left" src="img/connection-offline.png") 
                    p Closed
                div(ng-switch-default)
                    img(class="f-left" src="img/connection-connecting.png") 
                    p Connecting

    //- jquery libraries
    script(src='js/lib/jquery/jquery-1.8.3.min.js')

    //- Raphael gauges lib
    script(src='js/lib/raphael/raphael.min.js')
    script(src='js/lib/raphael/raphael.speedometer.js')

    //- Angular libraries
    script(src='js/lib/angular/angular.js')
    
    //- Angular FE
    script(src='js/app.js')
    script(src='js/controllers.js')
    
    //- Websocket conection
    script(src="js/utils/websocket-handler.js")