doctype 5
html(ng-app='feApp')
  head
    title = title
    link(rel='stylesheet', href='css/style.css')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
  body
    block content