body {
    background-color:#636363;
    padding: 2%;
    color: white;
    font-family: arial, helvetica;
    font-weight: bold;
}

p {
    font-size: 0.9em;
}

/* MAIN CONTAINER */
#centered-container {
	margin: 0 auto;
	width: 85%;
    padding: 2%;
}

/* BOX CONTAINERS */
.big-rounded-box{
    float: left;
    padding: 60px;
    width: 60%;
    font-size: 1.2em;
    min-height: 350px;
    height: inherit;
    border-top: medium solid #8A8A8A;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 5px #575757; /* Firefox */  
    -webkit-box-shadow: 0 4px 5px #575757; /* Safari, Chrome */  
    box-shadow: 0 4px 5px #575757; /* CSS3 */
    min-width: 607px;
    margin-bottom: 20px;
}
.medium-rounded-box {
    float: left;
    font-size: 1.2em;
    margin-left: 30px;
    padding: 15px;
    margin-bottom: 30px;
    height: 112px;
    text-align: center;
    width: 141px;
    border-top: medium solid #8A8A8A;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 5px #575757; /* Firefox */  
    -webkit-box-shadow: 0 4px 5px #575757; /* Safari, Chrome */  
    box-shadow: 0 4px 5px #575757; /* CSS3 */
}
.little-rounded-box {
    float: left;
    font-size: 1.2em;
    height: 97px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 15px;
    text-align: center;
    width: 141px;
    border-top: medium solid #8A8A8A;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 4px 5px #575757; /* Firefox */  
    -webkit-box-shadow: 0 4px 5px #575757; /* Safari, Chrome */  
    box-shadow: 0 4px 5px #575757; /* CSS3 */
}
.bck-grey-light {
    background-color: #7D7D7D;
}

/* CUSTOM BUTTONS */
.button-rail {
    height: 50px;
    width: 100%;
    background-color: #636363;
    margin-top: 14px;
    -webkit-box-shadow: inset 0px 6px 2px 2px rgba(89,89,89,19.86);
    -moz-box-shadow: inset 0px 1px 2px 2px rgba(89,89,89,19.86);
    box-shadow: inset 0px 1px 2px 2px rgba(89,89,89,19.86);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.numbers-list {
    margin-left: -30px;
    margin-top: 0;
}
.numbers-list li {
    display: inline;
    font-size: 0.6em;
    padding-right: 18px;
}
.f-left {
    float: left;
}

/* GAUGES */
.alt-gauge {
    margin-left: 110px;
}

#statistics-container {
float: left;
margin-left: 16px;
margin-top: 0px;
width: 692px;
}

#statistics-container .stats {
    float:left;
    width: 50%;
}

#speeder{
    display:table-cell;
}

#results{
    font-weight:bold;
    margin:20px;
    color:orange;
}

/* FLAP BUTTON */
.flaps-active{
    transform: translation(13, 0);
    transition: all 0.5s ease;
}

.flaps-switch{
    margin-left: 3px;
}

.connection-state {
    margin-top: 5px;
    font-size: 0.8em;
}
.sub-gauge {
    font-size: 1.0em;
    font-weight: normal;
    margin-top: 3px;
    margin-left: 63px;
}